<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>Project and Planning</title>
</h:head>
<h:body style="font-size: 15px; background-image: url(sfondo.jpg);">
<h:form id="loginForm" style="align: center;  whith: 100%;">
  <b:container layout="fluid" style="align: center;  whith: 100%;">
       <b:row layout="fluid" style="align: center;">
        <b:column medium-screen="12" style="align: center;">
        <b:image name="testata" value="testata.jpg" tooltip="Project and Planning" style=" top: 0px; left: 0px;width: 100%; height: 150px; align: center;" />
             </b:column>
        </b:row>
	<b:panel title="Login:" look="primary" columns="3" style="align: center;">
      	
      <b:row>
        <b:column medium-screen="2">
          <h:outputText value="Username:" for="username" look="primary" />
        </b:column>
        <b:column medium-screen="5">
          <b:inputText id="username" value="#{loginController.username}"
                      ajax="true" autocomplete="true">
            <f:facet name="prepend">
              <b:icon name="user" />
            </f:facet>
          </b:inputText>
        </b:column> 
        <b:column medium-screen="5">
        <h:message for="username" style="color:red" /> 
        </b:column> 
      </b:row>

      <b:row >
        <b:column medium-screen="2">
          <h:outputText value="Password:" for="password" look="primary" />
        </b:column>
        <b:column medium-screen="5">
          <b:inputSecret id="password" value="#{loginController.password}"
                         ajax="true" autocomplete="true">
            <f:facet name="prepend">
              <b:iconAwesome name="key" />
            </f:facet>
          </b:inputSecret>
        </b:column>
        <b:column medium-screen="5">
        <h:message for="password" style="color:red" />
        </b:column>
        </b:row>
        <b:row >
         </b:row>
         
          <b:row >
          <b:column medium-screen="2">
           </b:column>
        <b:column medium-screen="10">
          <h:outputText value="#{loginController.login.user.typology}" style="width:100%; color: red;" />
        </b:column>
        </b:row>
          
        <b:row >
        <b:column medium-screen="2" offset="2">
          <b:commandButton value="login" look="primary" action="#{loginController.checkLogin}"
                           style="width:100%" />
        </b:column>
        <b:column medium-screen="3" >
          <b:button value="Recupera Password"
                           look="danger" style="width:100%" />
        </b:column>
      </b:row>
      </b:panel>
             <b:row layout="fluid" style="align: center;">
        <b:column medium-screen="12" style="align: center;">
        <b:image name="piede" value="piede.jpg" tooltip="Project and Planning" style=" top: 0px; left: 0px;width: 100%; height: 150px; align: center;" />
             </b:column>
        </b:row>
  </b:container>
</h:form>
</h:body>
</html>