<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>Project and Planning</title>
</h:head>
<h:body
	style="font-size: 15px; background-image: url(sfondo.jpg);">
	<h:form id="loginForm" style="align: center;  whith: 100%;">
		<b:container layout="fluid" style="align: center;  whith: 100%;">
			<b:row layout="fluid" style="align: center; whith: 100%;">
				<b:column medium-screen="12" style="align: center;">
					<b:image name="testata" value="testata.jpg"
						tooltip="Project and Planning"
						style=" top: 0px; left: 0px;width: 100%; height: 150px; align: center;" />
				</b:column>
			</b:row>
			<b:row layout="fluid">
				<b:column medium-screen="2" span="2"
					style="align: left; height: 50px ">
				</b:column>
				<b:column medium-screen="10" span="10"
					style="align: center; height: 50px ">
					<b:button value="Clienti" look="danger" medium-screen="3"
						href="clienti.xhtml" />
					<b:button value="Fornitori" look="danger" medium-screen="4"
						href="fornitori.xhtml" />
					<b:button value="Consulenti" look="danger" medium-screen="3"
						href="consulenti.xhtml" />
				</b:column>
			</b:row>

			<b:row layout="fluid">
				<b:column medium-screen="2" span="2"
					style="align: left; height: 300px ">
					<b:buttonGroup orientation="vertical" size="lg">
						<b:button value="Anagrafica" look="primary"
							href="anagrafica.xhtml" />
						<b:button value="Commesse" look="primary" href="commesse.xhtml" />
						<b:button value="Rubrica" look="primary" href="rubrica.xhtml" />
					</b:buttonGroup>
				</b:column>
				<b:column medium-screen="10" span="10"
					style="align: center; height: 300px ">

					<!-- inserire il corpo della pagina -->

				</b:column>
			</b:row>

			<b:row layout="fluid">
				<b:column medium-screen="9" span="9"
					style="align: left; height: 10px ">
				</b:column>
			</b:row>

			<b:row layout="fluid" style="align: center;">
				<b:column medium-screen="12" style="align: center;">
					<b:image name="piede" value="piede.jpg"
						tooltip="Project and Planning"
						style=" top: 0px; left: 0px;width: 100%; height: 150px; align: center;" />
				</b:column>
			</b:row>
		</b:container>
	</h:form>
</h:body>
</html>