<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>Project and Planning</title>
</h:head>
<h:body style="font-size: 15px; background-image: url(sfondo.jpg);">
	<h:form id="loginForm" style="align: center;  whith: 100%;">
		<b:container layout="fluid" style="align: center;  whith: 100%;">
			<b:row layout="fluid" style="align: center; whith: 100%;">
				<b:column medium-screen="12" style="align: center;">
					<b:image name="testata" value="testata.jpg"
						tooltip="Project and Planning"
						style=" top: 0px; left: 0px;width: 100%; height: 150px; align: center;" />
				</b:column>
			</b:row>
			<b:row layout="fluid">
				<b:column medium-screen="2" span="2"
					style="align: left; height: 50px ">
				</b:column>
				<b:column medium-screen="10" span="10"
					style="align: center; height: 50px ">
					<b:button value="Clienti" look="danger" medium-screen="3"
						href="clienti.xhtml" />
					<b:button value="Fornitori" look="success" medium-screen="4"
						href="fornitori.xhtml" />
					<b:button value="Consulenti" look="danger" medium-screen="3"
						href="consulenti.xhtml" />
				</b:column>
			</b:row>

			<b:row layout="fluid">
				<b:column medium-screen="2" span="2" style="align: left; ">
					<b:buttonGroup orientation="vertical" size="lg">
						<b:button value="Anagrafica" look="primary"
							href="anagrafica.xhtml" />
						<b:button value="Commesse" look="primary" href="commesse.xhtml" />
						<b:button value="Rubrica" look="primary" href="rubrica.xhtml" />
					</b:buttonGroup>
				</b:column>
				<b:column medium-screen="9" span="9"
					style="align: center; background-color: white">

					<!-- inserire il corpo della pagina -->

					<h:form>
						<b:dataTable value="#{supplierListController.users}" var="user"
							excel="true" csv="true" pdf="true" columnVisibility="true"
							copy="true" print="true">
							<b:dataTableColumn value="#{user.surCompany}"
								label="Cognome o Denominazione" order="asc" />
							<b:dataTableColumn value="#{user.name}" label="Nome" />
							<b:dataTableColumn value="#{user.cf}" label="Codice Fiscale" />
							<b:dataTableColumn value="#{user.pi}" label="P. Iva" />
							<b:dataTableColumn value="#{user.city}" label="Città" />

							<b:dataTableColumn>
								<b:button value="Modifica" icon="edit"
									href="salvafornitori.xhtml?ID=#{user.id}" label=""/>

							</b:dataTableColumn>
							<b:dataTableColumn>
								<b:commandButton value="Cancella" icon="delete"
									action="#{supplierListController.delete(user.id)}" label="">
								</b:commandButton>
							</b:dataTableColumn>

						</b:dataTable>
					</h:form>
					<b:button look="success" value="Nuovo" span="2" offset="10"
						href="salvafornitori.xhtml?ID=0" />
				</b:column>
			</b:row>

			<b:row layout="fluid">
				<b:column medium-screen="9" span="9"
					style="align: left; height: 10px ">
				</b:column>
			</b:row>

			<b:row layout="fluid">
				<b:column medium-screen="9" span="9"
					style="align: left; height: 10px ">
				</b:column>
			</b:row>

			<b:row layout="fluid" style="align: center;">
				<b:column medium-screen="12" style="align: center;">
					<b:image name="piede" value="piede.jpg"
						tooltip="Project and Planning"
						style=" top: 0px; left: 0px;width: 100%; height: 150px; align: center;" />
				</b:column>
			</b:row>
		</b:container>
	</h:form>
</h:body>
</html>