<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>Project and Planning</title>
</h:head>
<h:body
	style="font-size: 15px; color: primary; text-align: left; align: center; background-image: url(sfondo.jpg);">
	<h:form id="loginForm" style="align: center;  whith: 100%;">
		<b:container layout="fluid" style="align: center;  whith: 100%;">
			<b:row layout="fluid" style="align: center; whith: 100%;">
				<b:column medium-screen="12" style="align: center;">
					<b:image name="testata" value="testata.jpg"
						tooltip="Project and Planning"
						style=" top: 0px; left: 0px;width: 100%; height: 150px; align: center;" />
				</b:column>
			</b:row>
			<b:row layout="fluid">
				<b:column medium-screen="2" span="2"
					style="align: left; height: 50px ">
				</b:column>
				<b:column medium-screen="10" span="10"
					style="align: center; height: 50px ">
					<b:button value="Clienti" look="danger" medium-screen="3"
						href="clienti.xhtml" />
					<b:button value="Fornitori" look="danger" medium-screen="4"
						href="fornitori.xhtml" />
					<b:button value="Consulenti" look="success" medium-screen="3"
						href="consulenti.xhtml" />
				</b:column>
			</b:row>

			<b:row layout="fluid">
				<b:column medium-screen="2" span="2" style="align: left; ">
					<b:buttonGroup orientation="vertical" size="lg">
						<b:button value="Anagrafica" look="primary"
							href="anagrafica.xhtml" />
						<b:button value="Commesse" look="primary" href="commesse.xhtml" />
						<b:button value="Rubrica" look="primary" href="rubrica.xhtml" />
					</b:buttonGroup>
				</b:column>
				<b:column medium-screen="9" span="9"
					style="align: center; background-color: white">

					<!-- inserire il corpo della pagina -->

					<b:row layout="fluid">
						<b:column medium-screen="9" span="9"
							style="align: left; height: 10px; background-color: white ">
						</b:column>
					</b:row>

					<h:panelGrid columns="3">
					
						<h:outputLabel value="Username:" for="usernamename" />
						<h:inputText id="username"
							value="#{consultantAddUpdateController.login.username}" />
						<h:message for="username" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						
						<h:outputLabel value="Password:" for="password" />
						<h:inputText id="password"
							value="#{consultantAddUpdateController.login.password}" />
						<h:message for="password" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel value="Nome:" for="name" />
						<h:inputText id="name"
							value="#{consultantAddUpdateController.login.user.name}" />
						<h:message for="name" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel value="Cognome o Denominazione:" for="surcompany" />
						<h:inputText id="surcompany"
							value="#{consultantAddUpdateController.login.user.surCompany}" />
						<h:message for="surcompany" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel value="Codice Fiscale:" for="cf" />
						<h:inputText id="cf"
							value="#{consultantAddUpdateController.login.user.cf}" />
						<h:message for="cf" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel value="Partita IVA:" for="pi" />
						<h:inputText id="pi"
							value="#{consultantAddUpdateController.login.user.pi}" />
						<h:message for="pi" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel value="Indirizzo:" for="adress" />
						<h:inputText id="adress"
							value="#{consultantAddUpdateController.login.user.address}" />
						<h:message for="adress" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel value="Città:" for="city" />
						<h:inputText id="city"
							value="#{consultantAddUpdateController.login.user.city}" />
						<h:message for="city" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel value="Telefono:" for="phone" />
						<h:inputText id="phone"
							value="#{consultantAddUpdateController.login.user.phone}" />
						<h:message for="phone" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel value="E-Mail:" for="email" />
						<h:inputText id="email"
							value="#{consultantAddUpdateController.login.user.email}" />
						<h:message for="email" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel value="Sito Web:" for="website" />
						<h:inputText id="website"
							value="#{consultantAddUpdateController.login.user.webSite}" />
						<h:message for="website" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel value="Curriculum:" for="curriculum" />
						<h:inputText id="curriculum"
							value="#{consultantAddUpdateController.login.user.curriculum}" />
						<h:message for="curriculum" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel value="Valutazione:" for="valutation" />
						<h:inputText id="valutation"
							value="#{consultantAddUpdateController.login.user.valutation}" />
						<h:message for="valutation" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:inputHidden id="iduser"
							value="#{consultantAddUpdateController.login.user.id}" />

						<h:outputLabel value="Note:" />
						<b:inputTextarea rows="4" id="note"
							value="#{consultantAddUpdateController.login.user.note}" />
						<h:inputHidden id="id"
							value="#{consultantAddUpdateController.login.id}" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel />
						<h:outputLabel value="#{consultantAddUpdateController.message}"
							style="color:red" />
						<h:outputLabel />

					</h:panelGrid>
					<b:commandButton look="success" value="Salva"
						action="#{consultantAddUpdateController.addUpdateUser}" span="2"
						offset="10">
					</b:commandButton>
				</b:column>
			</b:row>

			<b:row layout="fluid">
				<b:column medium-screen="9" span="9"
					style="align: left; height: 10px ">
				</b:column>
			</b:row>

			<b:row layout="fluid">
				<b:column medium-screen="9" span="9"
					style="align: left; height: 10px ">
				</b:column>
			</b:row>

			<b:row layout="fluid" style="align: center;">
				<b:column medium-screen="12" style="align: center;">
					<b:image name="piede" value="piede.jpg"
						tooltip="Project and Planning"
						style=" top: 0px; left: 0px;width: 100%; height: 150px; align: center;" />
				</b:column>
			</b:row>
		</b:container>
	</h:form>
</h:body>
</html>
